* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
body {    
    color: #dac50e;
    background-color: #939394;
    font-family: Luckiest Guy;
    overflow-x: hidden;
    letter-spacing: 1px;
}
.headerArea {
    max-width: 1140px;
    margin: auto;
}
.headerBanner {
    max-width: 1140px;
    height: 120px;
    background-color: #d44b2293;
}
.headerMenu {    
    max-width: 1140px;
    font-size: 18px;
    text-transform: uppercase;
    margin: auto;
    border-bottom: 1px solid #d44c2298;
}
.headerMenu nav {
    display: flex;
    text-align: center;
}
.headerMenu a {
    text-decoration: none;
    flex: auto;
    line-height: 30px;
    color: inherit;
}
.headerMenu a:hover {
    background-color: #d44c2298;
}
main {
    max-width: 1140px;
    margin: auto;
}
.subMenu {
    width: 200px;
    height: 300px;
    background-color: #918d8d;
}
.subMenu ul {
    list-style: none;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 16px;
}
.subMenu a {
    text-decoration: none;
    color: inherit;
}
.contentArea {
    margin-top: 5px;
}

.homearea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.cont1,
.cont2,
.cont3,
.cont4 {
    height: 250px;
    background-color: #ffffff;
    border-radius: 5px;
}

footer {
    max-width: 1140px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}
.legalInfo {
    font-size: 18px;
    color: #000000;
}

/* team page*/
#tmarea nav {
    display: flex;
    flex-wrap: wrap;
}
#tmarea a {
    width: 15%;
}
.submenuteam nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.submenuteam a {
    text-decoration: none;
    line-height: 30px;
    flex: auto;
    text-align: center;
    color: inherit;
    border-bottom: 1px solid #66d632c7;
}
.submenuteam a:hover {
    background-color: #66d632c7;
}
.menusArea {
    flex-direction: column;
}
.tmenus {
    display: none;
    height: fit-content;
}
.tform,
.tfirt,
.tmkil {
    max-width: 1140px;
    display: grid;
    gap: 5px;
    margin-top: 30px;
    background-color: #dddddd5d;
    padding: 5px;
    border-radius: 20px;
    grid-template-areas: 
    'FT DF DFM DFU'
    'GEI TI TIM TIU'
    '. OF OFM OFU'
    ;
}

.tcomparea {
    background-color: #CCCCCC40;
    text-align: center;
    border-radius: 15px;
}

#GEI {
    grid-area: GEI;
}
#DF {
    grid-area: DF;
}
#DFM {
    grid-area: DFM;
}
#DFU {
    grid-area: DFU;
}
#OF {
    grid-area: OF;
}
#OFM {
    grid-area: OFM;
}
#OFU {
    grid-area: OFU;
}
#FT {
    grid-area: FT;
    background-color: #00000000;
}

.tpvp {
    max-width: 1140px;
    display: grid;
    gap: 5px;
    margin-top: 30px;
    background-color: #dddddd5d;
    padding: 5px;
    border-radius: 20px;
    grid-template-areas: 
    'PVP . . .'
    'I II III IV'
    'V VI VII VIII'
    'IX X XI XII'
    'XIII XIV XV XVI'
    'XVII XVIII XIX XX'
    'XXI XXII XXIII XXIV'
    'XXV XXVI XXVII XXVIII'
    ;
}

#PVP {
    grid-area: PVP;
}

#I {
    grid-area: I;
}
#II {
    grid-area: II;
}
#III {
    grid-area: III;
}
#IV {
    grid-area: IV;
}
#V {
    grid-area: V;
}
#VI {
    grid-area: VI;
}
#VII {
    grid-area: VII;
}
#VIII {
    grid-area: VIII;
}
#IX {
    grid-area: IX;
}
#X {
    grid-area: X;
}
#XI {
    grid-area: XI;
}
#XII {
    grid-area: XII;
}
#XIII {
    grid-area: XIII;
}
#XIV {
    grid-area: XIV;
}
#XV {
    grid-area: XV;
}
#XVI {
    grid-area: XVI;
}
#XVII {
    grid-area: XVII;
}
#XVIII {
    grid-area: XVIII;
}
#XIX {
    grid-area: XIX;
}
#XX {
    grid-area: XX;
}
#XXI {
    grid-area: XXI;
}
#XXII {
    grid-area: XXII;
}
#XXIII {
    grid-area: XXIII;
}
#XXIV {
    grid-area: XXIV;
}
#XXV {
    grid-area: XXV;
}
#XXVI {
    grid-area: XXVI;
}
#XXVII {
    grid-area: XXVII;
}
#XXVIII {
    grid-area: XXVIII;
}

/*fighters*/

.fightersarea{
    display: none;
}
header .fModels {
    display: none;
}
.fcontentArea {
    flex: auto;
    margin-top: 15px;
    margin-left: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.fModels {
    display: none;
}
.fArea {
    padding: 8px;
    border-radius: 5px;
    background-color: #CCCCCC40;
}
.fAvatar {
    flex: 1;
}
.fAvatar img {
    width: 120px;
    border-radius: 18px 2px 18px 2px;
}
.fInfo {
    flex: 2;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
}
.fName {
    font-size: 20px;
    text-transform: capitalize;
}
.fCarac {
    align-items: flex-end;
    justify-content: space-between;
}
.fPart {
    width: 150px;
    justify-content: space-between;
    align-items: flex-end;
}
.fPart img {
    border-radius: 50%;
}

#fFilters div {
    cursor: pointer;
}
#fFilters {
    width: 230px;
    height: 450px;
    flex-direction: column;
    margin-top: 15px;
    padding-left: 10px;
    gap: 10px;
    position: sticky;
    top: 0;
}
.fAp {
    font-size: 23px;
}
.fFAp,
.fFGe,
.fFteam {
    font-size: 16px;
    gap: 5px;
}
.fFteam {
    flex-direction: column;
}
.fFType,
.fFSoul {
    align-items: flex-end;
    gap: 5px;
}
.fType {
    margin-right: 15px;
    margin-top: 5px;
}
.fFType img,
.fType img {
    width: 35px;
    height: 20px;
}
.fFSoul img {
    width: 30px;
    border: 1px solid #d44c2298;
    border-radius: 50%;
}
.fSoul img {
    width: 50px;
    border: 1px solid #d44c2298;
    border-radius: 50%;
}

/* prom*/

.fpromArea h1 {
    margin: 30px;
}
.prommenufilt {
    justify-items: center;
}
.prommenufilt a {
    text-decoration: none;
    color: inherit;
    flex: auto;
    text-align: center;
}
.prommenu {
    display: none;
}
.promtab {    
    max-width: 1140px;
    width: 100%;
    border-spacing: 0;
    margin-top: 20px;
    text-align: center;
}
.promtab tr:nth-child(1) {
    display: none;
}
.promtab td {
    padding: 6px;
}
.promdescarea {
    justify-content: space-evenly;
    vertical-align: middle;
    line-height: 1.8;
}
.promdescarea img {
    border: 1px solid #bbb;
    border-radius: 50%;
}
.promdesc {
    flex-direction: column;
}
.promgold span {
    vertical-align: top;
    line-height: 3;
}
.promgold span,
.promlv span {
    margin-left: 10px;
}
.promgold img {
    width: 40px;
    height: 50px;
    margin-left: 10px;
}


/* upgrade */

.fupArea h1 {
    margin: 15px;
}

.xptab {
    margin: auto;
    width: 150px;
    margin-top: 30px;
}

.xptab tr,
.xptab td,
.xptab th {
    padding: 3px;
    text-align: center;
}
.xptab tbody tr:nth-child(1) {
    display: none;
}

/* equipment*/

.equipmenus {
    display: none;
}
.fequipmenus a,
.enhancefilt a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    line-height: 30px;
    margin: auto;
    flex: auto;
}
.fequipmenus a:hover {
    background-color: #329ad6c7;
}
.enhancefilt a:hover {
    background-color: #b2b5b8c7;
}
.enhancefilt a {
    margin-left: 25px;
}

.fequipcontent {
    margin-top: 20px;
}

.enhantab {
    width: 100%;
    table-layout: auto;
    text-align: center;
}
.enhantab thead th {
    position: sticky;
    top: 0;
    background-color: #7e7ea7c9;
}

.enhancecontent {
    margin-top: 5px;
}
.enhancecontent h2{
    font-size: 14px;
    word-spacing: 5px;
    padding: 7px;
    line-height: 2;
}
.enhanceaps {
    display: none;
}
.enhantab img {
    width: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.enhantab th {
    word-spacing: 10px;
    padding: 5px;
    max-width: 235px;
}
.eqq15 .enhantab tbody tr:first-child {
    display: none;
}

.awakencont {
    max-width: 1140px;
}
.equipmenus h1 {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 15px;
}
.awakenrequire {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.awakenrequire th,
.awakenrequire td {
    text-align: center;
    padding: 5px;
}
.awakenrequire img {
    width: 25px;
}
.awakenrequire td:nth-child(1) {
    width: 140px;
}
.awakenrequire td:nth-child(2) {
    width: 135px;
}
.awakenrequire td:nth-child(3) {
    width: 145px;
}
.awakenrequire td:nth-child(4) {
    width: 355px;
}
.awakenrequire td:nth-child(5) {
    width: 300px;
}


.blesstab {
    width: 250px;
    margin: auto;
    text-align: center;
}

.blesstab th {
    border: 1px solid #c0c0c0a6;
    padding: 5px;
}
.blesstab tfoot tr:first-child {
    display: none;
}

/* evolve*/

.fevolArea h1 {
    margin: 30px;
}
.evoldesc {
    margin: 10px;
    font-size: 20px;
}
.evolstararea {
    margin-left: 3%;
    margin-top: 3%;
}
.evolstararea table {
    margin-right: 20px;
    margin-top: 20px;
}
.evoltab td {
    padding: 5px 15px 0px 15px;
    height: 53px;
}
.evoltab img {
    width: 30px;
    margin-top: 5px;
}
.evoltab thead th:nth-child(2) img {
    width: 33px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.evoldfarea {
    margin-left: 3%;
    margin-top: 5%;
}
.dfah {
    border-spacing: 0;
    margin: auto;
}
.dfah thead th:first-child {
    padding: 5px;
}
.dfah thead tr:first-child th {
    top: 0;
}
.dfah thead th {
    position: sticky;
    top: 32px;
    background-color: #7e7ea7c9;    
}
.dfah th {
    border: 1px solid #c0c0c0a6;
    width: 75px;
    text-align: center;
}
.dfah tbody tr:first-child {
    display: none;
}
.statsmodel {
    text-align: center;
}

/* skills*/

.fskillArea h1 {
    margin: 30px;
}
.skfilters a {
    flex: auto;
    text-align: center;
}
.fskillcontent {
    flex-direction: column;
}
.skillsap1514,
.skillsap1312 {
    display: none;
}
.skapcont {
    gap: 10px;
    margin-top: 15px;
}
.skilltab {
    font-size: 14px;
    text-align: center;
}
.skilltab thead tr:first-child th {
    top: 0;
}
.skilltab thead th {
    border: 1px solid #c0c0c0a6;
    position: sticky;
    top: 25px;
    background-color: #7e7ea7c9;
}
.skilltab th {
    padding: 3px;
    border: 1px solid #c0c0c0a6;
}
.skilltabcont tr:nth-child(1) {
    display: none;
}
.skilltab hr {
    border: 1px solid #c0c0c0;
}
.skilltab tbody tr:first-child {
    display: none;
}


/* fight souls*/

.fsoulsArea h1 {
    margin: 30px;
}
.fsoulcontent {
    gap: 10px;
    margin-bottom: 15px;
}
.fstabs {
    text-align: center;
}
.fstabs th {
    border: 1px solid #c0c0c0a6;
}

/* 8 Elements Gates*/

.gatescontent {
    margin-top: 25px;
}
.gatesapmenus a {
    flex: 1;
    text-align: center;
}
.gatesmenus {
    display: none;
}

.gatesap15 table:first-child {
    display: none;
}
.gatesaps {
    margin-top: 5px;
    text-align: center;
}
.eegdesc15 td:nth-child(1) {
    width: 157px;
}
.eeg15b tr td:nth-child(2) {
    width: 370px;
}
.gatesaps td,
.gatesaps th {
    padding: 5px 10px;
}
.gatesname15,
.gatesname14,
.gatesname13 {
    width: 150px;
}
.gatreqs {
    width: 370px;
}
.gatreqs div {
    line-height: 2;
    border-bottom: 1px solid #c0c0c0a6;
}
.gatesaps img {
    width: 35px;
    border: 1 solid #ddd;
    border-radius: 5px;
}

.eegdesc15 {
    margin-top: 15px;
}

/* basic for all tables*/

.intercol {
    border-spacing: 0;
}
.intercol td {
    border: 1px solid #c0c0c0a6;
}
.difcol tr:nth-child(even) {
    background-color: #c0c0c0a6;
}
.intercol tr:hover {
    background-color: #a85858a6;
}


/* class for all site*/
thead {
    background-color: #7e7ea7c9;
}
.show {
    display: block;
}
.noshow {
    display: none;
}
.dflex {
    display: flex;
}
.nolink {
    text-decoration: none;
    color: inherit;
}

.bggreen {
    background-color: #259925;
}
.bgyellow {
    background-color: #eeee8a;
}
.bgblue {
    background-color: #3636ce;
}
.bgblupur {
    background-color: #7e7ea7c9;
}
.bgpurple {
    background-color: #912b91;
}
.bgorange {
    background-color: #e4990f;
}
.bgred {
    background-color: #fd2020;
}
.active {
    background-color: #b2b5b8c7;
}

@media (min-width:450px) and (max-width:800px) {
    


}

@media (max-width:450px) {
    /* ehader menu*/
    .headerMenu nav {
        flex-wrap: wrap;
    }
    .headerMenu a {
        width: 25%;
    }

    /* tem area*/
    #tmarea a {
        width: 35%;
    }

    /* fighters area*/

    .submenuteam nav {
        flex-wrap: wrap;
    }
    .submenuteam a {
        width: 35%;
    }
    
    .fcontent {
        flex-direction: column;
    }
    .fcontentArea {
        display: flex;
        flex-direction: column;
    }
    .fFteam {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .filt {
        margin-left: 20px;
    }
    #fFilters {
        position: inherit;
        width: auto;
        height: auto;
        padding-right: 5px;
    }
    #fFilters div {
        width: auto;
    }

    .fcontentArea {
        margin-right: 5px;
    }

    .fAvatar img {
        width: 100px;
    }
    .fSoul img {
        width: 40px;
    }
    .fAp {
        font-size: 18px;
    }
    .fPart {
        width: auto;
    }
    .fPart img {
        border-radius: 50%;
        width: 40px;
        margin-right: 3px;
    }

    .promtab td {
        padding: 0px;
        padding-right: 3px;
        padding-left: 3px;
    }
    .promgold span {
        vertical-align: inherit;
        line-height: 1;
    }
    .promdescarea {
        line-height: 1;
    }
    .promdescarea img {
        width: 50px;
        height: 50px;
    }


    .xptabs {
        flex-wrap: wrap;
    }
    .xptab thead th {
        position: sticky;
        top: 0;
        background-color: #7e7ea7c9;
    }

    .blesscontent {
        flex-direction: column;
    }
    .blesstab {
        margin-bottom: 10px;
    }

    .evoldfarea {
        margin: 5px;
    }
    .evolstararea {
        display: block;
    }
    .awakenrequire td,
    .awakenrequire td {
        padding: 0;
    }

    .skapcont {
        display: block;
    }
    .skilltab {
        margin-bottom: 15px;
    }

    .fsoulcontent {
        display: block;
        margin-left: 15px;
    }
    .fsoulcontent div {
        margin-bottom: 15px;
    }
    
    footer {
        margin: 10px;
        text-align: center;
    }
}